body {
    font-size: 20px;
}

.grandparent {
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    height: 100vh;
}

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

        #main-header {
            /* margin: 50px 0 0; */
            /* border: 1px solid orange; */
            line-height: 0.6;
            font-size: 90px;
        }

        #secondary-header {
            /* margin-top: 0; */
            font-size: 42.5px;
        }


    .parent {
        display: flex;
        height: 40vh;
    }

        .child1, .child2 {
            border: 2px solid greenyellow;
        }

        .child1 {
            /* min-width: 1480px; */
            min-width: 79vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
        }

            #introContent {
                border: 2px solid blueviolet;
                width: 700px;
            }

        .child2 {
            border: 1px solid orange;
            /* min-width: 300px; */
            min-width: 19vw;
            display: flex;
            gap: 15px;
            justify-content:center;
            align-items: center;
            flex-direction: column;
        }

            .rightLinks {
                /* margin: 10px 0 0 50px; */
                margin: 0;
                border: 2px solid rgba(0, 0, 0, 0.151);
                border-radius: 35px;
                padding: 8px 12px;
                background-color: #4a4a4a;
                color: whitesmoke;
                width: 150px;
                text-align: center;
                text-decoration: none;
            }

            .rightLinks::after {
                color: whitesmoke;
            }




/* display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 35px;
align-items: center;
height: 90vh;

#search-box:hover {
    cursor: pointer;
    } */

/* border: 2px solid firebrick; */
/* border: 2px solid greenyellow; */
                