body {
    font-size: 20px;
}

.grandparent {
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    height: 100vh;
}

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

        #main-header {
            /* margin: 50px 0 0; */
            /* border: 1px solid orange; */
            line-height: 0.6;
            font-size: 90px;
        }

        #secondary-header {
            /* margin-top: 0; */
            font-size: 42.5px;
        }


    .parent {
        display: flex;
    }

        .child1, .child2 {
            border: 2px solid greenyellow;
        }

        .child1 {
            /* min-width: 1480px; */
            min-width: 85vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
        }

        .child1 > * {
            /* margin: 30px; */
            /* border: 1px solid orange; */
        }

            #introContent {
                /* border: 2px solid blueviolet; */
                width: 500px;
            }

        .child2 {
            border: 1px solid orange;
            /* min-width: 300px; */
            min-width: 15vw;
            display: flex;
            gap: 5px;
            justify-content:center;
            flex-direction: column;
        }

            .rightLinks {
                margin: 10px 0 0 70px;
            }




/* display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 35px;
align-items: center;
height: 90vh;

#search-box:hover {
    cursor: pointer;
    } */

/* border: 2px solid firebrick; */
/* border: 2px solid greenyellow; */
                