body::before {
    content: "";
    /* top: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* position: absolute; */
    /* filter: blur(10px); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* opacity: 0.3; */
    /* z-index: -1; */
    /* background-attachment: fixed; */
}

body {
    margin: 0;
    /* background: url(map-india-col-authentic-4959894.jpg); */
    /* background-size: cover; */
    /* left: 130px; */
    /* backdrop-filter: blur(38px); */
}

.grandparent {
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
}

    .parent-images1, .parent-images2 {
        margin: 200px 0;
        /* border: 2px solid yellow; */
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

        img {
            border-radius: 5px;
            width: 70%;
        }
    
    .parent-content {
        /* border: 2px solid yellow; */
        /* padding: 0 50px; */
        width: 35%;
    }
    
        #main-heading {
            /* border: 2px solid salmon; */
            font-size: 48px;
            text-align: center;
            color: burlywood;
        }

        .content {
            font-size: 20px;
            line-height: 1.3;
            /* color: rgb(43, 41, 41); */
        }

